<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/img/style.css" />
    <title>статья</title>
  </head>
  <body class="article">
    <div class="header">
      <img src="../static/img/logo1.jpg" />
    </div>
    <div>
      {% if post == post %}
      <div class="one-post">
        <p><a href="http://127.0.0.1:8000">Показать все записи</a></p>
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="article-info">
          <div class="article-author">{{ post.author.username }}</div>
          <div class="article-created- date">{{ post.created_date }}</div>
        </div>
        <p class="article-text">{{ post.get_excerpt }}</p>
      </div>
      {% endif %}
    </div>
  </body>
</html>
